extends layout

block content
   p= content
      .container
         .row
            .col-sm-3
               h2 About page
               hr
               p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima sapiente fuga perspiciatis officia deserunt sunt est rerum quod ratione perferendis! 
            .col-sm-9
               h2 With it custom template
               hr
               p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima sapiente fuga perspiciatis officia deserunt sunt est 
               |   rerum quod ratione perferendis! Praesentium sequi fugiat alias, fuga inventore sunt! Corporis, eligendi et?Vel excepturi 
               |   totam placeat optio quae rerum, ducimus fugit ratione reiciendis doloribus nemo dolorem laboriosam saepe iure at, ipsa 
               |   quasi illo pariatur necessitatibus cupiditate. Repellendus harum voluptatem explicabo modi neque?
               
